# Travis CI configuration file for psycopg2

language: python

matrix:
  include:
    - arch: amd64
      python: 2.7
    - arch: amd64
      python: 3.8
    - arch: amd64
      python: 3.7
    - arch: amd64
      python: 3.6
    - arch: amd64
      python: 3.5
    - arch: amd64
      python: 3.4
    - arch: arm64
      python: 3.8
    - arch: arm64
      python: 3.7
    - arch: arm64
      python: 3.6
    - arch: arm64
      python: 3.5
      
before_install:
  - sudo apt-get update

addons:
  apt:
    packages:
    - bc
      
install:
  - pip install -U pip setuptools wheel 
  - pip install .
  - rm -rf psycopg2.egg-info
  - sudo scripts/travis_prepare.sh
  
env:
  - export DONT_TEST_PRESENT=0
  - export TEST_FUTURE=0
  - export TEST_VERBOSE=0
  - export PSYCOPG2_TEST_FAST=0
  - export TEST_PAST=1
  - export TRAVIS_TOKEN=[secure]

script:
  - scripts/travis_test.sh

deploy:
  - provider: script
    script: bash scripts/travis_update_docs.sh
    on:
      branch: master

notifications:
  email: false
